@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: white;
}

button {
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  transform: translateY(-2px);
}
